.learn-acca-container {
    background-color: #efefff;
    min-width: 280px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    margin-right: 15px;
    margin-bottom: 15px;
}